/*--------------------Mobile----------------------*/

/*--------------------General----------------------*/

* {
    margin: 0;
    padding: 0;
    border: 0;
  }

*,
*:before,
*:after {
box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
  }

ul,
ol {
list-style: none;
}
  
.category-title h2 {
    color: var(--Color-primario-luz-2, #ECEDF5);
    font-weight: 80%;
    font-size: 80%;
}

/*--------------------Header----------------------*/
body {
    background-color: var(--Color-primario-sombra, #383839);
    overflow-y: scroll;
}
header {
    background-color: var(--Color-secundario-sombra, #2B1489);
    width: 390px;
  
}
main {
  width: 390px;
    min-height: 100vh;
    scroll-behavior: smooth;
}
.flex {
    display: flex;
}

.row {
    flex-direction: row;
  }
  .gap-8 {
    gap: 8px;
  }
  .gap-16 {
    gap: 16px;
  }
  .gap-24 {
    gap: 24px;
  }

.container {
    padding: 0 8px;
}

.container> * {
    margin: 0 auto;
  }

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
  }

.header-container .flex {
display: flex;
padding: 16px 0;
align-items: center;
}

.header-container .logo-img {
width: 202px;
height: 45px;
}

.btn-icono {
    background: rgba(0, 0, 0, 0);
    padding: 0;
    margin: 0;
  }

.btn-icono,
.btn-icono img {
max-width: 35px;
max-height: 35px;
}



/*--------------------Carrusel----------------------*/
.conteiner-carrusel-first {

    position: relative;
    overflow-y: hidden;
    z-index: 2;
    height: 200px;
    

}
.conteiner-carrusel {

    position: relative;
    overflow-y: hidden;
    z-index: 2;
    height: 95px;

}

.conteiner-carrusel-first ul {
    padding: 0px 8px;
    margin-block-end: 0;
    width: 100%;
    white-space: nowrap;
    list-style: none; 
    transform: translateZ(0);
    scroll-padding: 50px 50px 50px 50px; 
    margin: 0;
    
  
}
/*VER*/
.conteiner-carrusel ul {
    padding: 0px 2px;
    margin-block-end: 0;
    width: 100%;
    white-space: nowrap;
    list-style: none; 
    transform: translateZ(0);
    scroll-padding: 50px 50px 50px 50px; 
    margin: 0;
    
}



.category-cards-container {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}



.overflow-scroll {
overflow-x: scroll;

}
::-webkit-scrollbar {
    display: none;
}




.game-card, .game-card-x4 {
    position: relative;
    max-width: 296px;
    height: 176.38px;
   /* background: var(--main-darker, purple);*/
    border-radius: 27px;
    /*box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.25);*/


} 
/*VEEEER*/
.game-card-x4 {
    display: grid;
    height: 176.38px;
    max-width: 296px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 4px 4px;
    
}

.game-card-1x1 img {
    max-width: 296px;
    height: 176.38px;
    border-radius: 27px;
    background-color: rgba(0, 0, 0, 0.5);
    
}




.game-card-1x4 img{
    border-radius: calc(8px + 2px);
    box-sizing: border-box;
    display: block;
    contain: layout;
    position: relative;
    margin-left: 0;
    margin-top: 0;
    width: 144px;
    height: 100%;
}

.game-card-x1 img{
    border-radius: calc(8px + 2px);
    box-sizing: border-box;
    display: block;
    contain: layout;
    position: relative;
    margin-left: 0;
    margin-top: 0;
    width: 144px;
    height: auto;
    
}

.etiqueta-pago {
    display: flex;
    height: 40px;
    
  }






.game-card-x1 .etiqueta-pago, .game-card-x1 .etiqueta-comprado,
.game-card-x1 .etiqueta-agregado, .game-card-x1 .etiqueta-gratis {

    position: relative;
    
    border-radius: 0px 0px calc(8px + 2px) calc(8px + 2px);
    width: 144px;
    max-height: 36px;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
    text-align: center;
    padding: 10px; /* Ajusta el espaciado según tus necesidades */
    bottom: 36px;
    
  }

  .etiqueta-comprado .texto-etiqueta {
    
    background-color: var(--Color-secundario-luz-1, #8C76E7);
  }

  .etiqueta-agregado .texto-etiqueta {
   
    background-color:var(--Color-acento-luz-2, #F4FF86);
  }

  .etiqueta-gratis .texto-etiqueta {
   
    background-color:var(--Color-acento-luz-1, #B8C717);
  }

  .etiqueta-comprado .texto-etiqueta, .etiqueta-agregado .texto-etiqueta, .etiqueta-gratis .texto-etiqueta {
    width: 60%; 
  }

  .carrito-etiqueta {
    width: 15%;
    justify-content: start;
    align-items: center;
    margin-top: auto;
    
  }
  .texto-etiqueta {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    height: 16px;
    margin-left: auto;
    margin-top: auto;
    border-radius: 2px 2px 2px 2px;
   
    background-color: var(--Color-primario-luz-2, #ECEDF5);
  }
  
  .carrito-etiqueta img {
    width: 95%;
  }

  
  .texto-etiqueta p {
    font-size: 70%;
    width: 100%;
    padding: 0;
    margin: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    
    color: var(--Color-primario-sombra)
    
  }

  li.game-card-1x1 {
    width: 144px;
    height: auto;
}



/*--------------Animacion-Cards------------------*/





/*--------------------Footer----------------------*/

footer {
    display: block;
    width: 390px;
}

.footer-container-mobile{
    padding: 20px 0;
    color: var(--Color-primario-luz-2, #ECEDF5);
    background: var(--Color-primario-sombra, #383839);
    scroll-behavior: smooth;
}

.content-container-mobile {
    padding: 0 16px;
}

.footer-top {
    display: block;
    background-color: var(--Color-primario-luz-2, #ECEDF5);
    justify-content: space-around;
    height: 200px;
}

.logo-footer, .redes-footer{
    display: flex;
    width: 100%;
}
.logo-footer {
    justify-content: center;
    align-items: center;
}
.logo-footer a img {
    width: 90%;
    
}

.redes-footer {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:0;
    padding:0;
    margin-top: 5%;
}

.texto-redes-footer {
    width: 100%;
    height: 50%;
    font-size: 90%;
    color: var(--Color-secundario-sombra, #2B1489);
    margin: 0;
    margin-bottom: 5%;
}

.icones-redes-footer {
    width: 100%;
    margin: 0;
    padding:0;
    margin-top: 15%;
    padding-top: 15%;
    
}

.iconos-redes-footer a img {
   margin: 0;
   padding: 0;
}

.soporte-ayuda-categorias-footer {
    display: block;
    background-color: var(--Color-secundario-sombra, #2B1489);
    padding-top: 2%;
    justify-content: space-around;
    padding-left: 5%;
  
}
.ayuda-soporte {
    display: block;
}

.item-footer {
    width: 100%;
    height: 50%;
    padding: 0;
    margin: 0;
    margin-top: 1%;
    padding-bottom: 5%;
}
.categ-mobile{
  margin-bottom: 1%;
}
.item-footer h2 {
    padding-bottom: 2%;
}
.item-footer h2, .item-footer p {
    font-size: 90%;
    
}

.item-footer img {
   width: 40%;
   margin-right: 5%;
}


.terminos-foot-mobile{
  display: flex;
  width: 100%;
  background-color: var(--Color-secundario-sombra, #2B1489);
  padding-top: 2%;
  justify-content: center space-around;
  align-items: center;
  padding-left: 2%;
}

.terminos-foot-mobile img {
  width: 100%;
  padding: 2%;

}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

